<ul class="social-links d-flex align-items-center p-0">
    <li><a href="https://www.facebook.com/lourdepeterhillnest" target="_blank"><i class="bi bi-facebook"></i></a></li>
    <li><a href="https://twitter.com/PeterLourdhill" target="_blank"><i class="bi bi-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/lourde_peter_hill_nest/" target="_blank"><i class="bi bi-instagram"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCUuxm_GwXhG7Cdz5RMful_w" target="_blank"><i class="bi bi-youtube"></i></a></li>
</ul>