<section class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <app-heading headingText1="Get in" headingText2="Touch"></app-heading>
                <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
                    <p><label> Your Name (required)</label></p>
                    <input [ngClass]="{'is-invalid':submitted && enquiryForm.controls['name'].errors}" formControlName="name" type="text" class="form-control">
                    <div *ngIf="submitted && enquiryForm.controls['name']" class="text-danger">
                        <div *ngIf="submitted && enquiryForm.controls['name'].errors?.['required']">
                          First Name is required
                        </div>
                        <div *ngIf="submitted && enquiryForm.controls['name'].errors?.['minlength']">
                          First Name Should be atleast 4 characters
                        </div>  
                    </div>
                       
                    <p><label> Your Email (required)</label></p>
                    <input [ngClass]="{'is-invalid':submitted && enquiryForm.controls['email'].errors}" formControlName="email" type="email" class="form-control">
                    <div *ngIf="submitted && enquiryForm.controls['email'].errors" class="text-danger">
                      <div *ngIf="submitted && enquiryForm.controls['email'].errors?.['required']">
                        Email Address is required
                      </div>
                      <div *ngIf="submitted && enquiryForm.controls['email'].errors?.['email']">
                        Email Address is not Valid
                      </div>
                    </div>

                    <p><label>Your Phone Number (required)</label></p>
                    <input [ngClass]="{'is-invalid': submitted && enquiryForm.controls['phone'].errors}" formControlName="phone" type="text" class="form-control">
                    <div *ngIf="submitted && enquiryForm.controls['phone'].errors" class="text-danger">
                        <div *ngIf="submitted && enquiryForm.controls['phone'].errors?.['required']">
                            Phone Number is required
                        </div>
                        <div *ngIf="submitted && enquiryForm.controls['phone'].errors?.['pattern']">
                            Phone Number is not valid. It should be a 10-digit number.
                        </div>
                    </div>
                    
                    <p><label> Adults (required)</label></p>
                    <input [ngClass]="{'is-invalid':submitted && enquiryForm.controls['adult'].errors}" formControlName="adult" type="number" class="form-control">
                    <div *ngIf="submitted && enquiryForm.controls['adult'].errors" class="text-danger">
                        <div *ngIf="submitted && enquiryForm.controls['adult'].errors?.['required']">
                            Number count is required
                        </div>
                    </div>

                    <p><label> Kids (required)</label></p>
                    <input [ngClass]="{'is-invalid':submitted && enquiryForm.controls['kids'].errors}" formControlName="kids" type="number" class="form-control">
                    <div *ngIf="submitted && enquiryForm.controls['kids'].errors" class="text-danger">
                        <div *ngIf="submitted && enquiryForm.controls['kids'].errors?.['required']">
                            Number count is required
                        </div>
                    </div>

                    <p><label> Date of Arrival (required)</label></p>
                    <input [ngClass]="{'is-invalid':submitted && enquiryForm.controls['arrival'].errors}" formControlName="arrival" type="date" class="form-control">
                    <div *ngIf="submitted && enquiryForm.controls['arrival'].errors" class="text-danger">
                        <div *ngIf="submitted && enquiryForm.controls['arrival'].errors?.['required']">
                            Please Select the Date
                        </div>
                    </div>

                    <p><label> Date of Departure (required)</label></p>
                    <input [ngClass]="{'is-invalid':submitted && enquiryForm.controls['departure'].errors}" formControlName="departure" type="date" class="form-control">
                    <div *ngIf="submitted && enquiryForm.controls['departure'].errors" class="text-danger">
                        <div *ngIf="submitted && enquiryForm.controls['departure'].errors?.['required']">
                            Please Select the Date
                        </div>
                    </div>

                    <p class="mt-3">
                        <app-button buttonName="Submit" buttonSize="M" buttonShade="D" (click)="generateWhatsAppLink()"></app-button>
                    </p>
                </form>
            </div>
            <div class="col-md-6 p-3">
                <div class="p-5">
                    <app-heading headingText3="Contact Info"></app-heading>
                    <p>Have any Queries? Let us know. We will clear it for you at the best.</p>
                    <div class="d-flex mb-3">
                        <i class="bi bi-geo-alt-fill"></i>
                        <div>
                            <h5>Location</h5>
                            <p>Lourde Peter Hill Nest<br> Kotagiri, The Nilgiris, Tamil Nadu, India</p>
                        </div>
                    </div>
                    <!--<div class="d-flex mb-3">
                        <i class="bi bi-envelope-fill"></i>
                        <div>
                            <h5>Email</h5>
                            <p>info@hillnest.com</p>
                        </div>
                    </div>-->
                    <div class="d-flex">
                        <i class="bi bi-phone-fill"></i>
                        <div>
                            <h5>Phone</h5>
                            <p><a href="tel:+919843059092">+91 98430 59092</a><br>
                               <a href="tel:+919786659092">+91 97866 59092</a><br>
                               <a href="tel:+919943990755">+91 99439 90755</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>