<footer>
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-3">
                <h2>Hill Nest</h2>
                <p>Lourde Peter Hill nest is a budget friendly home stay in Kotagiri.</p>
            </div>
            <div class="col-md-3">
                <h3>Quick Links</h3>
                <ul class="quick-links">
                    <li><a routerLink=""><i class="bi bi-chevron-right"></i>Home</a></li>
                    <li><a routerLink="hillNest"><i class="bi bi-chevron-right"></i>Hill Nest</a></li>
                    <li><a routerLink="services"><i class="bi bi-chevron-right"></i>Services</a></li>
                    <li><a routerLink="gallery"><i class="bi bi-chevron-right"></i>Gallery</a></li>
                    <li><a routerLink="contact"><i class="bi bi-chevron-right"></i>Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Our Address</h3>
                <ul>
                    <li>
                        <i class="bi bi-geo-alt-fill"></i> Lourde Peter Hill Nest<br> Kotagiri<br> Nilgiris
                    </li>
                    <li><i class="bi bi-telephone-fill"></i> <a href="tel:919843059092">+91 98430 59092</a></li>
                    <li><i class="bi bi-telephone-fill invisible"></i><a href="tel:919786659092"> +91 97866 59092</a></li>
                    <li><i class="bi bi-telephone-fill invisible"></i><a href="tel:919943990755"> +91 99439 90755</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Follow us</h3>
                <ul class="social-icons">
                    <app-social-links></app-social-links>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Hill Nest 2023 All rights reserved | Website by Shriasys</p>
    </div>
    <a href="https://api.whatsapp.com/send?phone=+919843059092%20&amp;text=Hello sir" class="whatsapp-icon" target="_blank" alt="Whatsapp">
        <i class="bi bi-whatsapp"></i>
    </a>
</footer>