<section class="home-service text-white mx-3 mx-sm-4 mx-md-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <h3>OUR SERVICES</h3>
                <p class="text-white">A vacation at Hill Nest ensures all the delights of the Nilgiris within an exclusive setting away from the more crowded resorts.</p>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../../../assets/img/shapes/wifi.png" class="img-fluid">
                        <h4>Free Wifi</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../../assets/img/shapes/toaster.png" class="img-fluid">
                        <h4>Home made food</h4>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../../assets/img/shapes/taxi-cab.png" class="img-fluid">
                        <h4>Explore Kotagiri</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>